@page "/exercise-04-01"
@using CSharpExercises.Classes.Chapter_04

<h3>Calculator</h3>
<input @bind="@value1" placeholder="Enter a value" />
<input @bind="@value2" placeholder="Enter a value" />
<br />
<button class="btn-sm btn-light" @onclick="Add">+</button>
<button class="btn-sm btn-light" @onclick="Subtract">-</button>
<button class="btn-sm btn-light" @onclick="Divide">/</button>
<button class="btn-sm btn-light" @onclick="Multiply">x</button>

<h4>@result</h4>

@code {
    string result = string.Empty;
    double value1 = default, value2 = default;

    void Add()
    {
        StaticCalculator.Add(value1, value2, out result);
    }

    void Subtract()
    {
        StaticCalculator.Subtract(value1, value2, out result);
    }

    void Divide()
    {
        StaticCalculator.Divide(value1, value2, out result);
    }

    void Multiply()
    {
        StaticCalculator.Multiply(value1, value2, out result);
    }
}
